@tailwind base;
@tailwind components;
@tailwind utilities;

.animation-delay-2000 {
  animation-delay: 2s;
}

.bg-grid-pattern {
  background-image: radial-gradient(circle, #3b82f6 1px, transparent 1px);
  background-size: 20px 20px;
}